/* font */
@font-face {
    font-family: Staatliches-Regular;
    src: url(../fonts/Staatliches-Regular.ttf);
  }
  
  * {
    font-family: "Baloo Bhaijaan 2", cursive;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: Staatliches-Regular;
  }
  
  /* body */
  body {
    margin: 0;
  }
  .uni-padding {
    padding: 0 7%;
  }
  
  /*Top Bar*/
  #topbar {
    background-color: rgb(93, 107, 119);
    padding-top: 18px;
    padding-bottom: 18px;
    overflow: auto;
  }
  #technicalhelpline {
    float: left;
    color: #fdfdfd;
    margin: 0;
    margin-top: 5px;
  }
  #social-icon {
    float: right;
  }
  .fa-brands {
    background-color: #fdfdfd;
    color: rgb(93, 107, 119);
    padding: 7px;
    border-radius: 50%;
  }
  .fa-facebook {
    padding: 9px 9px;
  }
  .fa-instagram {
    padding: 9px 9px;
  }
  .fa-twitter {
    padding: 9px 9px;
  }
  .fa-youtube {
    padding: 9px 9px;
  }
  .fa-linkedin {
    padding: 9px 9px;
  }
  
  /* logo bar */
  #logobar img {
    width: 35px;
    margin: 15px 0px;
  }
  /* #logobar h2{
      float: right;
      color: #222f3e;
      overflow: auto;
  } */
  
  /* Nav bar */
  #navbar {
    background-color: #ee5253;
  }
  #navbar ul li {
    display: inline-block;
    padding: 18px 0px;
    padding-right: 35px;
  }
  #navbar ul {
    margin: 0;
    padding: 0;
  }
  #navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  /* bar2 */
  
  .bar2 {
    display: flex;
  }
  .slogan {
    margin-top: 17px;
  }
  /*poster*/
  #poster {
    background-image: url(../images/bg.jpeg);
    height: 600px;
    padding: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    color: rgb(245, 153, 153);
    flex-direction: column;
  }
  
  /*why us*/
  #whysection {
    overflow: auto;
    margin-bottom: 50px;
  }
  .red-heading {
    color: #ee5253;
    text-align: center;
    font-size: 45px;
    margin-top: 50px;
  }
  .section33 {
    width: 33.33%;
    float: left;
    text-align: center;
    padding: 0px 50px 0px 50px;
    box-sizing: border-box;
  }
  .section33 h2 {
    color: #ee5253;
  }
  .section33 p {
    color: #363636;
  }
  
  /* contact section*/
  #contact-container {
    background-color: #ee5253;
    color: white;
    overflow: auto;
  }
  .section70 {
    width: 70%;
    float: left;
  }
  .section30 {
    width: 30%;
    float: left;
    text-align: center;
    padding-top: 50px;
  }
  #contact-btn {
    background-color: white;
    color: #ee5253;
    padding: 15px 50px;
    text-decoration: none;
    border-radius: 6px;
    font-size: 15px;
    font-weight: bold;
  }
  /*footer*/
  
  #imp-link {
    background-color: #576574;
    color: white;
    overflow: auto;
  }
  .div33 {
    width: 33.33%;
    float: left;
    padding: 25px 50px;
    box-sizing: border-box;
  }
  .div33 h3 {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
    font-weight: normal;
  }
  #footer-menu {
    list-style-type: none;
    padding: 0px;
  }
  #footer-menu li {
    padding-bottom: 10px;
  }
  #footer-menu li a {
    text-decoration: none;
    color: white;
  }
  #footer-menu-cointainer {
    padding-left: 100px;
  }
  #copyright {
    background-color: #222f3e;
    text-align: center;
    color: #cbcbcb;
    padding: 10px;
  }
  
  /*Responsive Mobile*/
  
  #navbar ul #mobile-cross,
  #mobile-bar {
    display: none;
  }
  
  @media only screen and (max-width: 500px) {
    #logobar {
      text-align: center;
    }
    .section33,
    .section30,
    .section70,
    .div33 {
      width: 100%;
    }
    .section70 {
      text-align: center;
      padding-right: 0px;
    }
    .section30 {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .div33 {
      padding: 25px 20px;
      text-align: center;
    }
    #footer-menu-cointainer {
      padding-left: 0px;
    }
  
    /*Mobile menu*/
  
    @media only screen and (max-width: 500px) {
      #navbar {
        background-color: #ee5253;
        position: absolute;
        top: 0px;
        height: 100vh;
        width: 280px;
        padding: 0px;
      }
      #navbar ul li {
        display: block;
        padding: 18px 0px;
        padding-right: 35px;
        border-bottom: 1px solid #d8d1d1;
        padding-left: 20px;
      }
      #mobile-cross {
        text-align: right;
      }
      .fa-circle-xmark {
        font-size: 25px;
      }
      #navbar {
        left: -280px;
        transition: all 0.5s ease;
      }
      #mobile-bar {
        background-color: #ee5253;
        color: white;
        padding: 18px;
        font-size: 28px;
      }
      #navbar ul #mobile-cross,
      #mobile-bar {
        display: block;
      }
    }
  }